.App {
  text-align: center;
}

.counter--header {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

.counter--main {
  width: 40%;
  margin: 50px auto;
}

.counter--flexbox {
  display: flex;
  width: 40%;
  margin: 20px auto;
}

#change, #reset, #add, #subtract {
  display: block;
  margin: 20px auto;
}

.counter--div {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#counter {
  display: block;
}

